@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@800&family=Poppins&family=Roboto&family=Ubuntu&display=swap');

*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
    font-weight: 500;
}
.smart{
    height: 100vh;
    background: linear-gradient(
        135deg,
        #dad9ff, #c4cae0
    );
}
.containerAdd{
    background-color: #ffffff;
    width: 70%;
    min-width: 420px;
    padding: 35px 50px;
    transform: translate(-50%,-50%);
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 10px;
    box-shadow: 20px 30px 25px rgba(0,0,0,0.15);
}
.containerDataDisplay{
  background-color: #ffffff;
  width: 40%;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid grey;
  min-width: 420px;
  padding: 35px 50px;
  transform: translate(-50%,-50%);
  position: absolute;
  left: 60%;
  top: 50%;
  border-radius: 10px;
  box-shadow: 20px 30px 25px rgb(0 0 0 / 15%);
}
h1{
    font-size: 30px;
    text-align: center;
    color: #1c093c;
}
p{
    position: relative;
    margin: auto;
    width: 100%;
    text-align: center;
    color: #606060;
    font-size: 14px;
    font-weight: 400;
}
form{
    width: 100%;
    position: relative;
    margin: 30px auto 0 auto;
}
.rowAdd{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    grid-gap: 20px 30px;
    margin-bottom: 20px;
}
label{
    color: #1c093c;
    font-size: 14px;
}
textarea,
input{
    width: 100%;
    font-weight: 400;
    padding: 8px 10px;
    border-radius: 5px;
    border: 1.2px solid #c4cae0;
    margin-top: 5px;
}
input::file-selector-button {
  font-weight: bold;
  color: dodgerblue;
  padding: 0.5em;
  border: thin solid lightblue;
  background-color:white;
  border-radius: 3px;
}
select{

  width: 100%;
  font-weight: 400;
  padding: 8px 10px;
  border-radius: 5px;
  border: 1.2px solid #c4cae0;
  margin-top: 5px;

}
textarea{
    resize: none;
}
textarea:focus,
input:focus{
    outline: none;
    border-color: #6f6df4;
}
.addbtn{
    border: none;
    padding: 10px 20px;
    background: linear-gradient(
        130deg,
        #6f6df4,
        #4c46f5
    );
    color: #ffffff;
    border-radius: 3px;
}
.addbtncancel{ 
  border: none;
    padding: 10px 20px;
    background: linear-gradient(
        130deg,
        #f46d6d,
        #f54646
    );
    color: #ffffff;
    border-radius: 3px;
}

label.form-check-label{
  color: white;
}


